.date-widget {
  color: #fff;
  background: linear-gradient(0deg, rgba(23, 90, 164, 1) 0%, rgba(20, 37, 161, 1) 19%, rgba(23, 23, 23, 1) 100%);
  border: 1px solid rgba(47, 95, 252, 0.836);
  .date-widget-title {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(47, 95, 252, 0.836);
  }

  .date-widget-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    .date-widget-capital {
      font-size: 2.5rem;
      text-decoration: underline;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-bottom: 1rem;
    }

    .date-widget-day {
      font-size: 2rem;
      letter-spacing: 1px;
    }

    .date-widget-date-num {
      margin: 1rem 0;
      font-size: 2rem;
    }
  }
}
