.footerCaption_2r5qf {
  -webkit-flex: 1 1 0;
  -ms-flex: 1 1 0;
  font-size: 1.4rem;
  flex: 1 1 0;
  text-align: center;
}

.ReactGridGallery_tile {
  background: none;
  border-radius: 1.5rem;
  overflow: hidden;
}

#lightboxBackdrop {
  align-items: flex-start;
  -webkit-align-items: flex-start;
}

.ReactGridGallery_tile-description {
  background: transparent;
}

@media (max-width: 1079px) {
  .ReactGridGallery_tile {
    width: 210px;
  }
}

@media (max-width: 699px) {
  .ReactGridGallery_tile {
    width: auto;
  }
}
