header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
  .header-globe-logo {
    width: 4rem;
  }

  .header-search-field {
    width: 40%;
    input {
      font-size: 1.6rem;
      width: 100%;
      padding: 0.7rem 2rem;
      outline: none;
      border: 2px solid rgba(151, 148, 148, 0.7);
      border-radius: 2rem;
      background: rgba(255, 255, 255, 0.747);
    }
  }

  .header-select-lang {
    width: 6rem;
    font-size: 1.7rem;
    text-transform: uppercase;
    outline: none;
    display: block;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
    border-radius: 0.5em;
    background: rgba(255, 255, 255, 0.747);
    cursor: pointer;
    option {
      background: rgba(255, 255, 255, 0.719);
      cursor: pointer;
      border-radius: 0.5rem;
    }
  }
}
